<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body ng-app="form" ng-controller="form-control">
  <script>
    const app = angular.module("form",[])
    app.controller("form-control",($scope,$http,$timeout)=>
    {
      $scope.errordisplay = function()
      {
        $scope.error = false
      }

      $scope.validateForm = function()
      {
        if($scope.password === $scope.cpassword)
        {
          $scope.msg = "Form submitted successfully "
          $scope.color = "green"
          $scope.error = true
          $timeout($scope.errordisplay,4000)
          $scope.submitForm()
          $scope.con = "form submitted succesfully"
 

        
        }
        else
        {
          $scope.msg = "Password not match"
          $scope.color = "red"
          $scope.error = true
          $timeout($scope.errordisplay,4000)

        }
      }

       $scope.submitForm = function()
       {

        

        console.log("call post")

        $http.post("http://127.0.0.1:8003/user/submit",{mail:$scope.mail,password:$scope.password}).then((msg)=>console.log(msg)).catch((msg)=>console.log(msg))

       }
       
    })

  </script>
  <p style="color:{{color}}" ng-bind=msg ng-show=error></p>
    <form >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input ng-model="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input ng-model="password" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">confirm Password</label>
            <input ng-model="cpassword" type="password" class="form-control" id="exampleInputPassword2" required >
          </div>
       
        <button type="submit" ng-click="validateForm()"  class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>